<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <%- include('../header') %>
  </head>
  <body>
    <%- include('../nav') %>
    <div class="container">
      <p>Welcome to Product</p>
      <a href="/products/add">เพิ่มสินค้า</a>
    </div>
  </body>
</html>
